services:
  # =======================
  # MySQL
  # =======================
  user-mysql:
    image: mysql:8.0
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${USER_DB_NAME}
      MYSQL_ROOT_PASSWORD: ${USER_DB_ROOT_PASS}
      MYSQL_USER_FILE: /run/secrets/user_db_user
      MYSQL_PASSWORD_FILE: /run/secrets/user_db_pass
    secrets:
      - user_db_user
      - user_db_pass
    ports:
      - "${USER_MYSQL_PORT}:3306"
    volumes:
      - user-mysql-data:/var/lib/mysql
    networks:
      - airapp-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${USER_DB_ROOT_PASS}"]
      interval: 5s
      timeout: 3s
      retries: 20

  # =======================
  # User Service (Spring)
  # =======================
  user-service:
    build: ./backend/services/user-service
    env_file:
      - .env
    environment:
      DB_URL: jdbc:mysql://user-mysql:${USER_DB_PORT}/${USER_DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      DB_USERNAME_FILE: /run/secrets/user_db_user
      DB_PASSWORD_FILE: /run/secrets/user_db_pass
      SPRING_PROFILES_ACTIVE: ${ENV}
    secrets:
      - user_db_user
      - user_db_pass
    depends_on:
      user-mysql:
        condition: service_healthy
    ports:
      - "${USER_SERVICE_PORT}:8081"
    entrypoint: ["/bin/sh", "-c", "/app/entrypoint.sh"]
    networks:
      - airapp-network

# =======================
# Secrets
# =======================
secrets:
  user_db_user:
    file: ./secrets/user_db_user.txt
  user_db_pass:
    file: ./secrets/user_db_pass.txt

# =======================
# Volumes
# =======================
volumes:
  user-mysql-data:

# =======================
# Network
# =======================
networks:
  airapp-network:
    driver: bridge
